EnergyPrediction/EnergyPrediction.v11.suo
EnergyPrediction/EnergyPrediction/bin/Debug/EnergyPrediction.exe
EnergyPrediction/EnergyPrediction/bin/Debug/EnergyPrediction.exe.mdb
EnergyPrediction/EnergyPrediction/bin/Debug/Eto.Gtk2.dll
EnergyPrediction/EnergyPrediction/bin/Debug/Eto.dll
EnergyPrediction/EnergyPrediction/bin/Debug/GeneticSharp.Domain.dll
EnergyPrediction/EnergyPrediction/bin/Debug/GeneticSharp.Extensions.dll
EnergyPrediction/EnergyPrediction/bin/Debug/GeneticSharp.Infrastructure.Framework.dll
EnergyPrediction/EnergyPrediction/bin/Debug/GeneticSharp.Infrastructure.Threading.dll
EnergyPrediction/EnergyPrediction/bin/Debug/HelperSharp.dll
EnergyPrediction/EnergyPrediction/bin/Debug/NCalc.dll
EnergyPrediction/EnergyPrediction/bin/Debug/nunit.framework.dll
Meeting Notes/**/*
Links and References/**/*
